<!DOCTYPE html>
<html>
	<head>
		<title>siCCest website ever</title>
		<script type = "text/javascript" 
		src = "{{ url_for('static', filename = 'script.js') }}" ></script>
		<script language="JavaScript">
			function checkTextareaLineCount() {
				let textarea = document.getElementById("anwser");
				let numOfLines = textarea.value.split("\n").length;
				console.info([textarea.value.split("\n").length, textarea.value]);
				if (numOfLines > 50) {
					while (textarea.value.split("\n").length > 50) {
						textarea.value = textarea.value.substring(0, textarea.value.length - 1);
					}
				}
			}
		</script>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
	</head>
   
	<body>
		<div id="start-button" class="center" style="display: inline;">
			<button onclick="startTimer()" class="start-button">
				<svg viewBox="0 0 50 20">
				  <text class="svg-start-text" x="5.5" y="14">START</text>
				</svg>
			</button>
		</div>
		<div id="list" style="display: none;">
			<div class="list-text">
				<div class="list-element"><p>element 1</p></div>
				<div class="list-element"><p>element 2</p></div>
				<div class="list-element"><p>element 3</p></div>
				<div class="list-element"><p>element 4</p></div>
				<div class="list-element"><p>element 5</p></div>
				<div class="list-element"><p>element 6</p></div>
				<div class="list-element"><p>element 7</p></div>
				<div class="list-element"><p>element 8</p></div>
				<div class="list-element"><p>element 9</p></div>
				<div class="list-element"><p>element 10</p></div>
				<div class="list-element"><p>element 11</p></div>
				<div class="list-element"><p>element 12</p></div>
				<div class="list-element"><p>element 13</p></div>
				<div class="list-element"><p>element 14</p></div>
				<div class="list-element"><p>element 15</p></div>
				<div class="list-element"><p>element 16</p></div>
				<div class="list-element"><p>element 17</p></div>
				<div class="list-element"><p>element 18</p></div>
				<div class="list-element"><p>element 19</p></div>
				<div class="list-element"><p>element 20</p></div>
				<div class="list-element"><p>element 21</p></div>
				<div class="list-element"><p>element 22</p></div>
				<div class="list-element"><p>element 23</p></div>
				<div class="list-element"><p>element 24</p></div>
				<div class="list-element"><p>element 25</p></div>
				<div class="list-element"><p>element 26</p></div>
				<div class="list-element"><p>element 27</p></div>
				<div class="list-element"><p>element 28</p></div>
				<div class="list-element"><p>element 29</p></div>
				<div class="list-element"><p>element 30</p></div>
				<div class="list-element"><p>element 31</p></div>
				<div class="list-element"><p>element 32</p></div>
				<div class="list-element"><p>element 33</p></div>
				<div class="list-element"><p>element 34</p></div>
				<div class="list-element"><p>element 35</p></div>
				<div class="list-element"><p>element 36</p></div>
				<div class="list-element"><p>element 37</p></div>
				<div class="list-element"><p>element 38</p></div>
				<div class="list-element"><p>element 39</p></div>
				<div class="list-element"><p>element 40</p></div>
				<div class="list-element"><p>element 41</p></div>
				<div class="list-element"><p>element 42</p></div>
				<div class="list-element"><p>element 43</p></div>
				<div class="list-element"><p>element 44</p></div>
				<div class="list-element"><p>element 45</p></div>
				<div class="list-element"><p>element 46</p></div>
				<div class="list-element"><p>element 47</p></div>
				<div class="list-element"><p>element 48</p></div>
				<div class="list-element"><p>element 49</p></div>
				<div class="list-element"><p>element 50</p></div>
			</div>
			<div>
				<canvas id="stopwatch", width="512", height="512"></canvas>
			</div>
		</div>
		<div id="form" class="center" style="display: none;">
            <form method="post" class="main-form">
                <p><textarea id="anwser" name="anwser" required placeholder="Veuillez entrer tous les éléments dont vous vous rappelez (1 par ligne)" rows="50" onkeyup="checkTextareaLineCount()"></textarea></p>
				<p><input id="submitbutton" type="submit" value="Envoyer"></p>
            </form>
        </div>
	</body>
</html>