<!DOCTYPE html>
<html>
	<head>
		<title>siCCest website ever</title>
		<script type = "text/javascript" 
		src = "{{ url_for('static', filename = 'script.js') }}" ></script>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
	</head>
   
	<body>
		<div id="start-button" class="center" style="display: inline;">
			<button onclick="startTimer()" class="start-button">
				<svg viewBox="0 0 50 20">
				  <text class="svg-start-text" x="5.5" y="14">START</text>
				</svg>
			</button>
		</div>
		<div id="list" style="display: none;">
			<div class="list-text">
				<div class="list-element"><p>Alameda</p></div>
				<div class="list-element"><p>Alpine</p></div>
				<div class="list-element"><p>Amador</p></div>
				<div class="list-element"><p>Butte</p></div>
				<div class="list-element"><p>Calaveras</p></div>
				<div class="list-element"><p>Colusa</p></div>
				<div class="list-element"><p>Contra Costa</p></div>
				<div class="list-element"><p>Del Norte</p></div>
				<div class="list-element"><p>El Dorado</p></div>
				<div class="list-element"><p>Fresno</p></div>
				<div class="list-element"><p>Glenn</p></div>
				<div class="list-element"><p>Humboldt</p></div>
				<div class="list-element"><p>Imperial</p></div>
				<div class="list-element"><p>Inyo</p></div>
				<div class="list-element"><p>Kern</p></div>
				<div class="list-element"><p>Kings</p></div>
				<div class="list-element"><p>Lake</p></div>
				<div class="list-element"><p>Lassen</p></div>
				<div class="list-element"><p>Los Angeles</p></div>
				<div class="list-element"><p>Madera</p></div>
				<div class="list-element"><p>Marin</p></div>
				<div class="list-element"><p>Mariposa</p></div>
				<div class="list-element"><p>Mendocino</p></div>
				<div class="list-element"><p>Merced</p></div>
				<div class="list-element"><p>Modoc</p></div>
				<div class="list-element"><p>Mono</p></div>
				<div class="list-element"><p>Monterey</p></div>
				<div class="list-element"><p>Napa</p></div>
				<div class="list-element"><p>Nevada</p></div>
				<div class="list-element"><p>Orange</p></div>
				<div class="list-element"><p>Placer</p></div>
				<div class="list-element"><p>Plumas</p></div>
				<div class="list-element"><p>Riverside</p></div>
				<div class="list-element"><p>Sacramento</p></div>
				<div class="list-element"><p>San Benito</p></div>
				<div class="list-element"><p>San Bernardino</p></div>
				<div class="list-element"><p>San Diego</p></div>
				<div class="list-element"><p>San Francisco</p></div>
				<div class="list-element"><p>San Joaquin</p></div>
				<div class="list-element"><p>San Luis Obispo</p></div>
				<div class="list-element"><p>San Mateo</p></div>
				<div class="list-element"><p>Santa Barbara</p></div>
				<div class="list-element"><p>Santa Clara</p></div>
				<div class="list-element"><p>Santa Cruz</p></div>
				<div class="list-element"><p>Shasta</p></div>
				<div class="list-element"><p>Sierra</p></div>
				<div class="list-element"><p>Siskiyou</p></div>
				<div class="list-element"><p>Solano</p></div>
				<div class="list-element"><p>Sonoma</p></div>
				<div class="list-element"><p>Stanislaus</p></div>
			</div>
			<div>
				<canvas id="stopwatch", width="512", height="512"></canvas>
			</div>
		</div>
		<div id="form" class="center" style="display: none;">
            <form method="post" class="main-form">
                <p><textarea id="anwser" name="anwser" required placeholder="Veuillez entrer tous les éléments dont vous vous rappelez (1 par ligne)" rows="50" onkeyup="checkTextareaLineCount()"></textarea></p>
				<p><input id="submitbutton" type="submit" value="Envoyer"></p>
				<input id="devtype" name="devtype" type="text" style="visibility: hidden; position: absolute;">
            </form>
        </div>
	</body>
</html>