<!DOCTYPE html>
<html>
	<head>
		<title>siCCest website ever</title>
		<script type = "text/javascript" 
		src = "{{ url_for('static', filename = 'script.js') }}" ></script>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
	</head>
   
	<body>
		<p><a href="/research-creation">Créer une recherche</a></p>
		<p><a href="/research/login">Accéder aux résultats de votre recherche</a></p>
		<p><a href="/research/0">Test form</a></p>
		<p>Participer a une recherche :<br>id: <input type="number"
			onkeyup="document.getElementById('customresearchlink').href = '/research/' + String(this.value)"
		><br><a id="customresearchlink" href="/research/0">Commencer</a></p>
	</body>
</html>